.container {
  max-width: 30em;
margin-left: auto;
margin-right: auto;
margin: 4em auto;
height: 100%;
position: relative;
padding: 0 2.55555em;
overflow: hidden;
}

.logo {
      max-width: 15em;
      margin: 0 auto;
}
