// Reset Features
body {
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background-color: #ffe278;
}

.container {
   font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
    font-style: normal;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  margin: 4em auto;
  height: 100%;
  position: relative;
  padding: 0 2.55555em;
  overflow: hidden;

    h2 {
     font-weight: 300;
     font-style: italic;
    }
    .logo {
  max-width: 15em;
  margin: 0 auto;
  }

  .startButton {
    width: 6em;
    background: #29ec96;
    height: 2em;
      font-style: italic;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1.5em;
        outline: none;
    margin: 2em auto;
    display: block;
          -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
      &:hover {
      color: red;
       background: #fcd720;
    }

}
  .choice {
    cursor: pointer;
  }

}
